h1{
    color: #ff00ff;
    background-color: rgb(245, 123, 234);
    text-align: center;
    font-weight: 400;
    text-decoration: blue overline wavy;
    font-size: 100px;
    font-family: Arial;
}

button{
    color: #c5e;
    font-weight: bold;
    font-family: Futura, Segoe UI, Arial, sans-serif;
}

p{
    color: aqua;
    line-height: 35px;
    letter-spacing: 1px;
    
}
a{
    text-decoration: none;
}


